@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-100: #f2f9ff;
  --primary-200: #b9e2ff;
  --primary-300: #7ed0fc;
  --primary-400: #43c1f5;
  --primary-500: #0cb5e8;
  --primary-600: #0498b8;
  --primary-700: #017787;
  --primary-800: #005257;
  --primary-900: #002626;

  /* Accent: Loudicious Pink */
  --accent-100: #fff2f9;
  --accent-200: #ffc5e7;
  --accent-300: #fb97d8;
  --accent-400: #f267c9;
  --accent-500: #e038b9;
  --accent-600: #b21897;
  --accent-700: #830a75;
  --accent-800: #550550;
  --accent-900: #260226;

  /* Neutral */
  --neutral-100: #fafbfc;
  --neutral-200: #e8ebed;
  --neutral-300: #d6dcde;
  --neutral-400: #c5cccf;
  --neutral-500: #b4bdbf;
  --neutral-600: #8e9899;
  --neutral-700: #6a7273;
  --neutral-800: #464c4d;
  --neutral-900: #222626;

  --misc: #0177874a;
}
/* Primary: Blue Raspberry */

.App {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-100);
}

.active {
  background-color: var(--primary-600);
}

body {
  box-sizing: border-box;
  max-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-700);
  position: sticky;
  top: 0;
  width: 100%;
}

.nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  text-decoration: none;
  color: var(--primary-300);
  border: 3px solid white;
  padding: 10px;
  border-radius: 10px;
}

.nav .title span {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.nav ul {
  display: flex;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.nav ul li a:not(.active):hover {
  background-color: var(--primary-600);
  color: white;
}
.nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}
@media (max-width: 480px) {
  .nav .menu {
    display: flex;
  }
  .nav {
    flex-direction: column;
    align-items: start;
  }
  .nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .nav ul.open {
    display: flex;
  }
  .nav ul li {
    width: 100%;
    text-align: center;
  }
  .nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

.background-image {
  margin-top: 2rem;
  overflow: hidden;
  background: url("./img/landing-img.jpg") center/cover no-repeat fixed;
  width: 100%;
  height: 100vh;
}

.registerContainer,
.loginContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
}
.registerContainer h1,
.loginContainer h1 {
  font-weight: 300;
  font-size: 3rem;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.formContainer input {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  padding-left: 1rem;
  font-family: inherit;
  font-weight: 300;
  border-radius: 4px;
  margin-bottom: 2rem;
  transition: border-radius 0.2s ease, border 0.1s ease;
}

.formContainer input:focus {
  outline: none;
  border-radius: 10px;
  border: var(--neutral-500) solid 2px;
}

.formContainer button {
  width: 100%;
  height: 3rem;
  background-color: var(--neutral-400);
  border: none;
  border-radius: 4px;
  color: var(--neutral-800);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.formContainer button:hover {
  background-color: var(--neutral-800);
  color: var(--neutral-100);
}

.error {
  color: var(--primary-700);
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
}

.error-message {
  /* Your existing styles for error messages */
  margin-left: 10px; /* Adjust the spacing as needed */
}

/* ModalStyles.css */

.modal,
.modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal-overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.modal-title {
  color: #e038b9;
}

.modal-button {
  background-color: #e038b9;
  color: #fff;
  border: none;
}
